<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.any" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <queries><package android:name="com.android.camera" /></queries>
    <application
        android:label="@string/app_name"
        android:description="@string/xposed_desc"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:icon="@mipmap/ic_launcher">
        <activity android:name=".SettingsActivity" android:exported="true" />
        <activity-alias android:name=".LauncherActivity"
            android:targetActivity=".SettingsActivity"
            android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <service android:name=".SnapService" android:exported="true"
            android:permission="android.permission.STATUS_BAR_SERVICE"
            android:foregroundServiceType="camera|microphone" />

        <provider android:name=".ConfigProvider"
            android:authorities="io.github.vay1314.camerasnap.config"
            android:exported="true" />
    </application>
</manifest>
